In [1]:
import pandas as pd

In [2]:
# Load your dataset
df = pd.read_csv('raw_data.csv')

In [3]:
df = df.dropna()

In [4]:
df.isnull().sum()

patient_id                        0
age_at_diagnosis                  0
type_of_breast_surgery            0
cancer_type                       0
cancer_type_detailed              0
cellularity                       0
chemotherapy                      0
pam50_+_claudin-low_subtype       0
cohort                            0
er_status_measured_by_ihc         0
er_status                         0
neoplasm_histologic_grade         0
her2_status_measured_by_snp6      0
her2_status                       0
tumor_other_histologic_subtype    0
hormone_therapy                   0
inferred_menopausal_state         0
integrative_cluster               0
primary_tumor_laterality          0
lymph_nodes_examined_positive     0
mutation_count                    0
nottingham_prognostic_index       0
oncotree_code                     0
overall_survival_days             0
overall_survival                  0
pr_status                         0
radio_therapy                     0
tumor_size                        0
tumor_stage                       0
death_from_cancer                 0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1227 entries, 1 to 1902
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   patient_id                      1227 non-null   int64
 1   age_at_diagnosis                1227 non-null   float64
 2   type_of_breast_surgery          1227 non-null   object
 3   cancer_type                     1227 non-null   object
 4   cancer_type_detailed            1227 non-null   object
 5   cellularity                     1227 non-null   object
 6   chemotherapy                    1227 non-null   int64
 7   pam50_+_claudin-low_subtype     1227 non-null   object
 8   cohort                          1227 non-null   int64
 9   er_status_measured_by_ihc       1227 non-null   object
 10  er_status                       1227 non-null   object
 11  neoplasm_histologic_grade       1227 non-null   float64
 12  her2_status_measured_by_snp6    1227 non-null   object
 13  her2_status                     1227 non-null   object
 14  tumor_other_histologic_subtype  1227 non-null   object
 15  hormone_therapy                 1227 non-null   int64
 16  inferred_menopausal_state       1227 non-null   object
 17  integrative_cluster             1227 non-null   object
 18  primary_tumor_laterality        1227 non-null   object
 19  lymph_nodes_examined_positive   1227 non-null   int64
 20  mutation_count                  1227 non-null   float64
 21  nottingham_prognostic_index     1227 non-null   float64
 22  oncotree_code                   1227 non-null   object
 23  overall_survival_days           1227 non-null   float64
 24  overall_survival                1227 non-null   int64
 25  pr_status                       1227 non-null   object
 26  radio_therapy                   1227 non-null   int64
 27  tumor_size                      1227 non-null   float64
 28  tumor_stage                     1227 non-null   float64
 29  death_from_cancer               1227 non-null   object
dtypes: float64(7), int64(7), object(16)
memory usage: 297.2+ KB

In [6]:
# Drop 'patient_id"
df.drop('patient_id', axis=1, inplace=True)

In [7]:
# Make 'age_at_diagnosis' an int
df['age_at_diagnosis'] = df['age_at_diagnosis'].astype(int)

In [8]:
# Dynamically map 'type_of_breast_surgery' values to numerical values
target = 'type_of_breast_surgery'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [10]:
# Dynamically map 'cancer_type' values to numerical values
target = 'cancer_type'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [11]:
# Dynamically map 'cancer_type_detailed' values to numerical values
target = 'cancer_type_detailed'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [12]:
# Dynamically map 'cellularity' values to numerical values
target = 'cellularity'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [13]:
# Dynamically map 'pam50_+_claudin-low_subtype' values to numerical values
target = 'pam50_+_claudin-low_subtype'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [14]:
# Dynamically map 'er_status_measured_by_ihc' values to numerical values
target = 'er_status_measured_by_ihc'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [15]:
# Dynamically map 'er_status' values to numerical values
target = 'er_status'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [16]:
# Dynamically map 'her2_status_measured_by_snp6' values to numerical values
target = 'her2_status_measured_by_snp6'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [17]:
# Dynamically map 'her2_status' values to numerical values
target = 'her2_status'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [18]:
# Dynamically map 'tumor_other_histologic_subtype' values to numerical values
target = 'tumor_other_histologic_subtype'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [19]:
# Dynamically map 'inferred_menopausal_state' values to numerical values
target = 'inferred_menopausal_state'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [20]:
# Dropping 'integrative_cluster' beacuse of many null values
df.drop('integrative_cluster', axis=1, inplace=True)

In [21]:
# Dynamically map 'primary_tumor_laterality' values to numerical values
target = 'primary_tumor_laterality'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [22]:
# Dynamically map 'oncotree_code' values to numerical values
target = 'oncotree_code'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [23]:
# Converting 'overall_survival_days' values in quarters of a year
target = 'overall_survival_days'
df[target] = df[target].astype(int)
df[target] = pd.cut(df[target], bins=range(0, 356, 88), labels=False)
df['survival_period'] = df[target] + 1

In [24]:
df.drop('overall_survival_days', axis=1, inplace=True)

In [25]:
# Dynamically map 'pr_status' values to numerical values
target = 'pr_status'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [26]:
# Dynamically map 'death_from_cancer' values to numerical values
target = 'death_from_cancer'
mapping = {data: idx for idx, data in enumerate(df[target].unique())}
df[target] = df[target].map(mapping)

In [27]:
df.head()

,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,er_status,...,mutation_count,nottingham_prognostic_index,oncotree_code,overall_survival,pr_status,radio_therapy,tumor_size,tumor_stage,death_from_cancer,survival_period
1,75,0,0,0,0,0,0,5,0,0,...,5.0,2.030,0,0,0,0,15.0,1.0,0,NaN
3,73,0,0,0,1,0,0,1,0,0,...,1.0,2.060,0,1,0,0,30.0,2.0,1,1.0
4,73,1,0,1,2,0,1,1,0,0,...,3.0,2.018,1,1,0,0,9.0,2.0,1,1.0
5,34,1,0,0,1,0,1,1,0,0,...,2.0,6.050,0,1,1,0,25.0,2.0,1,1.0
6,53,0,0,0,0,0,2,1,1,1,...,3.0,4.038,0,1,1,0,19.0,1.0,1,1.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1227 entries, 1 to 1902
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age_at_diagnosis                1227 non-null   int64
 1   type_of_breast_surgery          1227 non-null   int64
 2   cancer_type                     1227 non-null   int64
 3   cancer_type_detailed            1227 non-null   int64
 4   cellularity                     1227 non-null   int64
 5   chemotherapy                    1227 non-null   int64
 6   pam50_+_claudin-low_subtype     1227 non-null   int64
 7   cohort                          1227 non-null   int64
 8   er_status_measured_by_ihc       1227 non-null   int64
 9   er_status                       1227 non-null   int64
 10  neoplasm_histologic_grade       1227 non-null   float64
 11  her2_status_measured_by_snp6    1227 non-null   int64
 12  her2_status                     1227 non-null   int64
 13  tumor_other_histologic_subtype  1227 non-null   int64
 14  hormone_therapy                 1227 non-null   int64
 15  inferred_menopausal_state       1227 non-null   int64
 16  primary_tumor_laterality        1227 non-null   int64
 17  lymph_nodes_examined_positive   1227 non-null   int64
 18  mutation_count                  1227 non-null   float64
 19  nottingham_prognostic_index     1227 non-null   float64
 20  oncotree_code                   1227 non-null   int64
 21  overall_survival                1227 non-null   int64
 22  pr_status                       1227 non-null   int64
 23  radio_therapy                   1227 non-null   int64
 24  tumor_size                      1227 non-null   float64
 25  tumor_stage                     1227 non-null   float64
 26  death_from_cancer               1227 non-null   int64
 27  survival_period                 1226 non-null   float64
dtypes: float64(6), int64(22)
memory usage: 278.0 KB

In [29]:
#Checking Null values
df.isnull().sum()

age_at_diagnosis                  0
type_of_breast_surgery            0
cancer_type                       0
cancer_type_detailed              0
cellularity                       0
chemotherapy                      0
pam50_+_claudin-low_subtype       0
cohort                            0
er_status_measured_by_ihc         0
er_status                         0
neoplasm_histologic_grade         0
her2_status_measured_by_snp6      0
her2_status                       0
tumor_other_histologic_subtype    0
hormone_therapy                   0
inferred_menopausal_state         0
primary_tumor_laterality          0
lymph_nodes_examined_positive     0
mutation_count                    0
nottingham_prognostic_index       0
oncotree_code                     0
overall_survival                  0
pr_status                         0
radio_therapy                     0
tumor_size                        0
tumor_stage                       0
death_from_cancer                 0
survival_period                   1
dtype: int64

In [30]:
#Removing null values
df = df.dropna()
df.isnull().sum()

age_at_diagnosis                  0
type_of_breast_surgery            0
cancer_type                       0
cancer_type_detailed              0
cellularity                       0
chemotherapy                      0
pam50_+_claudin-low_subtype       0
cohort                            0
er_status_measured_by_ihc         0
er_status                         0
neoplasm_histologic_grade         0
her2_status_measured_by_snp6      0
her2_status                       0
tumor_other_histologic_subtype    0
hormone_therapy                   0
inferred_menopausal_state         0
primary_tumor_laterality          0
lymph_nodes_examined_positive     0
mutation_count                    0
nottingham_prognostic_index       0
oncotree_code                     0
overall_survival                  0
pr_status                         0
radio_therapy                     0
tumor_size                        0
tumor_stage                       0
death_from_cancer                 0
survival_period                   0
dtype: int64

In [383]:
#Short description of dataframe
df.describe()

,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,er_status,...,mutation_count,nottingham_prognostic_index,oncotree_code,overall_survival,pr_status,radio_therapy,tumor_size,tumor_stage,death_from_cancer,survival_period
count,1226.000000,1226.000000,1226.0,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,...,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000,1226.000000
mean,59.894780,0.423328,0.0,0.367047,0.606036,0.221044,1.544861,2.227569,0.227569,0.230016,...,5.475530,4.132712,0.367047,0.433931,0.477162,0.675367,25.980832,1.765905,0.877651,1.962480
std,13.006919,0.494288,0.0,0.847965,0.675347,0.415119,1.724264,0.951694,0.419434,0.421015,...,3.769888,1.061198,0.847965,0.495818,0.499682,0.468429,14.726868,0.617972,0.742664,0.893639
min,21.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,2.002000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,50.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,3.000000,3.052000,0.000000,0.000000,0.000000,0.000000,17.000000,1.000000,0.000000,1.000000
50%,61.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,...,5.000000,4.046000,0.000000,0.000000,0.000000,1.000000,23.000000,2.000000,1.000000,2.000000
75%,69.000000,1.000000,0.0,0.000000,1.000000,0.000000,3.000000,3.000000,0.000000,0.000000,...,7.000000,5.045500,0.000000,1.000000,1.000000,1.000000,30.000000,2.000000,1.000000,3.000000
max,96.000000,1.000000,0.0,4.000000,2.000000,1.000000,6.000000,5.000000,1.000000,1.000000,...,46.000000,6.360000,4.000000,1.000000,1.000000,1.000000,180.000000,4.000000,2.000000,4.000000

In [384]:
# Column names
df.columns

Index(['age_at_diagnosis', 'type_of_breast_surgery', 'cancer_type',
       'cancer_type_detailed', 'cellularity', 'chemotherapy',
       'pam50_+_claudin-low_subtype', 'cohort', 'er_status_measured_by_ihc',
       'er_status', 'neoplasm_histologic_grade',
       'her2_status_measured_by_snp6', 'her2_status',
       'tumor_other_histologic_subtype', 'hormone_therapy',
       'inferred_menopausal_state', 'primary_tumor_laterality',
       'lymph_nodes_examined_positive', 'mutation_count',
       'nottingham_prognostic_index', 'oncotree_code', 'overall_survival',
       'pr_status', 'radio_therapy', 'tumor_size', 'tumor_stage',
       'death_from_cancer', 'survival_period'],
      dtype='object')

In [31]:
df.to_csv('data.csv', index=False)